
/*** the exterior edge of any grid - grid needs to go inside of the container)***/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "project-hero1"
    "project-hero2"
    "project-intro1"
    "user-research1"
    "user-research2"
    "comp-anal"
    "User-persona1"
    "User-persona2"
    "user-stories1"
    "user-stories2"
    "userflows1"
    "userflows2"
    "Wireframes1"
    "Wireframes2"
    "Usability-Test1"
    "Usability-Test2"
    "visual-design1"
    "visual-design2"
    "branding1"
    "branding2"
    "style-guide1"
    "style-guide2"
    "high-fidelity1"
    "high-fidelity2"
    "çonclusion1"
    "çonclusion2"
    "footer-container"
    "footer-social";
    margin: 0 auto;
    width: auto;

}

/*** each grid box ***/

.project-hero1, .project-hero2, .project-intro1, .user-research1, .user-research2, .comp-anal,
.User-persona1, .User-persona2, .user-stories1, .user-stories2, .userflows1,
.userflows2, .Wireframes1, .Wireframes2, .Usability-Test1, .Usability-Test2,
.visual-design1, .visual-design2, .branding1, .branding2,
.style-guide1, .style-guide2, .high-fidelity1, .high-fidelity2,
.çonclusion1, .conclusion2 {
  background-color: #DFE4DB;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5rem;
  word-wrap: break-word;



}

/*** h1 for all sections ***/

h1, .project-hero2, .project-intro1, .user-research1,
.user-research2, .comp-anal, .User-persona1, .User-person2, .user-stories1, .user-stories2,
.userflows1, .userflows2, .Wireframes1, .Wireframes2, .Usability-Test1,
.Usability-Test2, .visual-design1, .visual-design2, .branding1,
.branding2, .style-guide1, .style-guide2, .high-fidelity1,
.high-fidelity2, .çonclusion1, .conclusion2 {
  font-family: "Anton";
  font-size: 6rem;
  font-weight: 900;
  padding-bottom: 5rem;
  color: black;
}

/*** project hero ***/
.project-hero1 {
  grid-area: project-hero1;
  padding: 0;
}

.project-hero1 img {
  width: 100%;
  display: block;
}

.project-hero2 {
  grid-area: project-hero2;
}

p.project-hero2 {
  font-family: "Raleway";
  font-size: 4rem;
  font-weight: 600;
  padding-top: .5rem;
  color: black;
}

/*** project intro ***/
.project-intro1 {
  grid-area: project-intro1;
}


p.project-intro1 {
  font-family: "Raleway";
  font-size: 4rem;
  font-weight: 900;
  padding-top: 2rem;
  color: black;
}

.HQHomepage {
  width: 100%;
  display: block;
}

/*** user-research ***/
.user-research1 {
  grid-area: user-research1;
}

p.user-research1, {
    font-weight: 200;
    word-wrap: break-word;
    padding: 5rem;
}

.user-research2 {
    grid-area: user-research2;
    padding: 5rem;
}

h2.user-research2 {
    font-family: "Lato";
    font-size: 5rem;
    padding-top: 2rem;
}

.Question1 {
    padding-top: 5rem;
}

.Chart1, .Chart2 {
    padding: 5rem;
    width: 100%;
    display: block;
}

.ur-stats {
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
}


/*** Comp Analysis ***/
.comp-anal {
    grid-area: comp-anal;
    padding: 5rem;
}

.Quote {
    font-style: italic;
    font-weight: 600;

}

.Competitive-Analysis {
    /* padding: 5rem; */
    width: 100%;
    display: block;
}

/*** User Persona - need to redo!! ***/
.User-persona1 {
    grid-area: User-persona1;

}

.User-persona2 {
    grid-area: User-persona2;
}

.username {
  font-family: "Lato";
  font-size: 5rem;
  font-weight: 900;
  padding: 5rem 0;
}



/*** user-stories ***/
.user-stories1 {
    grid-area: user-stories1;

}

.user-stories2 {
    grid-area: user-stories2;
}

.userstories1 {
  padding-top: 5rem;
}

/*** user-flows ***/
.user-flows1 {
    grid-area: user-flows1;
}

.user-flows2 {
    grid-area: user-flows2;
}

.userflows1-img .userflows2-img {
    /* padding: 5rem; */
    width: 100%;
    display: block;
}

/*** Wireframes ***/

.Wireframes1 {
    grid-area: Wireframes1;
}

.Wireframes2 {
    grid-area: Wireframes2;
}

/*** Usability-Test ***/

.Usability-Test1 {
    grid-area: Usability-Test1;
}

.Usability-Test2 {
    grid-area: Usability-Test2;
}

.usabilitytesting1 {
    padding-top: 5rem;
}

/*** visual-design ***/
.visual-design1 {
    grid-area: visual-design1;
}

.visual-design2 {
    grid-area: visual-design2;
}

.visual-design1-img {
    padding-top: 2rem;
}

/*** branding ***/
.branding1 {
    grid-area: branding1;
}

.branding2 {
    grid-area: branding2;
}

.logo-set {
  /* padding-top: 2rem; */
  width: 100%;
  display: block;
}

/*** style-guide ***/
.style-guide1 {
    grid-area: style-guide1;
}

.style-guide2 {
    grid-area: style-guide2;
}

.style-guide1-img {
  padding: 2rem;
}

/*** high-fidelity ***/
.high-fidelity1 {
    grid-area: high-fidelity1;
}

.high-fidelity2 {
    grid-area: high-fidelity2;
}

.HF-Mockups1 {
  padding-top: 2rem;
}


/*** çonclusion ***/
.çonclusion1 {
    grid-area: çonclusion1;
}

.çonclusion2 {
    grid-area: çonclusion2;
}

.conc-img {
  width: 100%;
  display: block;
}

  /* Desktop */
@media screen (min-width: 120rem) {
  .container {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas:
    "nav                nav                   nav"
    "project-hero1      project-hero2         project-hero2"
    "project-intro1     project-intro1        project-intro1"
    "user-research1     user-research1        user-research2"
    "comp-anal          comp-anal             comp-anal"
    "User-persona1      .                     User-persona2"
    "user-stories1      user-stories1         user-stories2"
    "userflows1         userflows1            userflows2"
    "Wireframes1        Wireframes1           Wireframes2"
    "Usability-Test1    Usability-Test1       Usability-Test2"
    "visual-design1     visual-design1        visual-design2"
    "branding1          branding1             branding2"
    "style-guide1       style-guide1          style-guide2"
    "high-fidelity1     high-fidelity1        high-fidelity2"
    "çonclusion1        çonclusion1           çonclusion2"
    "footer-container   footer-container      footer-container"
    "footer-social      footer-social         footer-social";
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
    width: 100rem;

  }

  section {
    float: left;
    margin: 1%;
    width: 100%;
  }

  .footer-container {
    background-color: #F8FAF6;
    font-size: 1.3rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    line-height: 1.4rem;
  }

}

  /* Tablet */
@media screen (min-width: 70rem) {
  .container {
      grid-template-columns: 6fr 6fr;
      grid-template-areas:
      "nav                ."
      "project-hero1      project-hero1"
      "project-hero2      project-hero2"
      "project-intro1     project-intro1"
      "user-research1     user-research2"
      "comp-anal          ."
      "User-persona1      User-persona2"
      "user-stories1      user-stories2"
      "userflows1         userflows2"
      "Wireframes1        Wireframes2"
      "Usability-Test1    Usability-Test2"
      "visual-design1     visual-design2"
      "branding1          branding2"
      "style-guide1       style-guide2"
      "high-fidelity1     high-fidelity2"
      "çonclusion1        conclusion2"
      "footer-container   footer-container"
      "footer-social      footer-social";
      margin: 0 auto;
      width: 80%;
  }

    section {
      float: left;
      margin: 1%;
      width: 80%;
  }


  .footer-container {
      background-color: #F8FAF6;
      font-size: 1.3rem;
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      padding: 5rem 5rem;
      line-height: 1.4rem;
  }
}
